<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChooseRoleServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ChooseRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewQueryServlet</servlet-name>
        <servlet-class>za.ac.tut.web.viewQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPredicateServlert</servlet-name>
        <servlet-class>za.ac.tut.web.getPredicateServlert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQueryServlert</servlet-name>
        <servlet-class>za.ac.tut.web.AddQueryServlert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChooseRoleServlet</servlet-name>
        <url-pattern>/ChooseRoleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentServlet</servlet-name>
        <url-pattern>/ViewStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewQueryServlet</servlet-name>
        <url-pattern>/viewQueryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPredicateServlert</servlet-name>
        <url-pattern>/getPredicateServlert.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQueryServlert</servlet-name>
        <url-pattern>/AddQueryServlert.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
